<div>
  <h1> <% task.title %> </h1>
</div>

<div>
  <p> <% task.details %> </p>
</div>

<% if task.completed == true %>
  <div>
    <input type="checkbox" id="task_completed" name="task_completed" checked>
    <label for="task_completed">This task is completed</label>
  </div>
<% else %>
  <div>
    <input type="checkbox" id="task_completed" name="task_completed">
    <label for="task_completed">This task is not completed yet</label>
  </div>
<% end %>
